@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?iefix') format('eot'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background-color: #FFF;
    color: #444;
}

h1 {
    font-family: 'LeagueGothicRegular', "Lucida Sans", "Trebuchet MS", Verdana, Arial, sans, sans-serif;
    font-size: 121px;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 0px 1px 1px #CCC;
    margin: 0.2em 0;
}

h2 {
    font-family: 'LeagueGothicRegular', "Lucida Sans", "Trebuchet MS", Verdana, Arial, sans, sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: normal;
}

#main {
    padding: 10px 40px;
    background-color: #FFF;    
}

/* Percentage Bar
----------------------------------------------- */

#percentage h2 {
   font-size:1.6em;
   color:#FF6666;
}

#percentage h2 span {
    color:#d03636;
}

#percentage_bar {
    height: 30px;  /* Can be anything */
    position: relative;
    margin: 10px 0 20px 0; /* Just for demo spacing */
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

#percentage_bar > span {
    display: block;
    height: 100%;
       -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 8px;
     -webkit-border-bottom-left-radius: 8px;
            -moz-border-radius-topleft: 8px;
         -moz-border-radius-bottomleft: 8px;
                border-top-left-radius: 8px;
             border-bottom-left-radius: 8px;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(43,194,83)),
      color-stop(1, rgb(84,240,84))
     );
    background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    -webkit-box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

#percentage_bar > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
       -webkit-gradient(linear, 0 0, 100% 100%,
          color-stop(.25, rgba(255, 255, 255, .2)),
          color-stop(.25, transparent), color-stop(.5, transparent),
          color-stop(.5, rgba(255, 255, 255, .2)),
          color-stop(.75, rgba(255, 255, 255, .2)),
          color-stop(.75, transparent), to(transparent)
       );
    background-image:
            -moz-linear-gradient(
              -45deg,
          rgba(255, 255, 255, .2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, .2) 50%,
          rgba(255, 255, 255, .2) 75%,
          transparent 75%,
          transparent
       );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
       -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
     -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
         -moz-border-radius-bottomleft: 20px;
                border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;
    overflow: hidden;
}

.animate > span:after {
    display: none;
}

@-webkit-keyframes move {
0% {
   background-position: 0 0;
}
100% {
   background-position: 50px 50px;
}
}

.orange > span {
    background-color: #f1a165;
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
}

.red > span {
    background-color: #f0a3a3;
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span, .nostripes > span:after {
    -webkit-animation: none;
    background-image: none;
}

/* Lists
------------------------------------------------------------- */
#list li {
    width: 100%;
    position: relative;
    font-size: 110%;
}
#list .item {
    display: block;
    width: 40%;    
}
#list .status {
    margin-left: 40%;
    position: relative;
    top: -40px;
    left: 1px;
}

#list .delete {
    margin-left: 10%;
    position: relative;
    top: -40px;
    left: 1px;
}

#list span.comments {
    color: #555;
    font-style: italic;
}

#list .done {
    text-decoration: line-through;
}

#list input, #list textarea {
    width: 600px;
}

.add_item img {
    margin-right: 10px;
}

/* Editable
-------------------------------------------------------------- */
.list_title {
    text-align: center;
}

.list_title:hover {
    cursor: pointer;
}

.title:hover, .comments:hover {
    background-color: #FFFFc9;
    cursor: pointer;
}

.list_title form.editable input {
    padding: 0;
    margin: 0;
    font-size: 50px;
    width: 300px;
    height: 100px;
    cursor: auto;
}

/* Home
----------------------------------------------------------------*/
#home h1 {
    font-size: 400px;
    line-height: 180px;
    text-align: center;
}

#home .subtitle {
    text-align: center;    
}

#home .screenshot {
    margin: 10px 0;
    float: left;
}

#home .screenshot img {
    border: 1px solid #CCC;
}

#home .blurb {
    float: right;
}

#home .blurb ul {
    list-style-image: url(../images/uncomplete.png);
}

#home .blurb li {
    font-size: 24px;
    padding: 0 0 40px 10px;    
}

#home .blurb li:last-child {
    padding: 0 0 0px 10px;
}