/* 
	Resets defualt browser settings
	reset.css
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?iefix') format('eot'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 16px/1.231 Helvetica, Helvetica Neue, Arial;
    background-color: #FFF;
    color: #444;       
}

p {
    margin-bottom: 1.4em;    
}

h1 {
    font-family: 'LeagueGothicRegular', "Lucida Sans", "Trebuchet MS", Verdana, Arial, sans, sans-serif;    
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 0px 1px 1px #CCC;
    margin: 0;
    font-size: 121px;
}

h1 a {
    color: #444;
    text-decoration: none;
}

h2 {
    font-family: 'LeagueGothicRegular', "Lucida Sans", "Trebuchet MS", Verdana, Arial, sans, sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: normal;
}

#main {
    padding: 0 40px 10px 40px;
    background-color: #FFF;       
}

#main #content p {
    font-size: 1.8em;
    line-height: 1.5em;  
}

.breaker {
    clear: both;
}

/* Top links
------------------------------------------------ */
#main ul#top-links {
    position: absolute;
    top: 0px;
    right: 0px;
    list-style-type: none;
}

#main ul#top-links li {
    float: left;
    margin: 10px;
}

/* Percentage Bar
----------------------------------------------- */

#percentage h2 {
   font-size:1.6em;
   color:#FF6666;
}

#percentage h2 span {
    color:#d03636;
}

#percentage_bar {
    height: 30px;  /* Can be anything */
    position: relative;
    margin: 10px 0 20px 0; /* Just for demo spacing */
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

#percentage_bar > span {
    display: block;
    height: 100%;
       -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 8px;
     -webkit-border-bottom-left-radius: 8px;
            -moz-border-radius-topleft: 8px;
         -moz-border-radius-bottomleft: 8px;
                border-top-left-radius: 8px;
             border-bottom-left-radius: 8px;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(43,194,83)),
      color-stop(1, rgb(84,240,84))
     );
    background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    -webkit-box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

#percentage_bar > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
       -webkit-gradient(linear, 0 0, 100% 100%,
          color-stop(.25, rgba(255, 255, 255, .2)),
          color-stop(.25, transparent), color-stop(.5, transparent),
          color-stop(.5, rgba(255, 255, 255, .2)),
          color-stop(.75, rgba(255, 255, 255, .2)),
          color-stop(.75, transparent), to(transparent)
       );
    background-image:
            -moz-linear-gradient(
              -45deg,
          rgba(255, 255, 255, .2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, .2) 50%,
          rgba(255, 255, 255, .2) 75%,
          transparent 75%,
          transparent
       );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
       -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
     -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
         -moz-border-radius-bottomleft: 20px;
                border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;
    overflow: hidden;
}

.animate > span:after {
    display: none;
}

@-webkit-keyframes move {
0% {
   background-position: 0 0;
}
100% {
   background-position: 50px 50px;
}
}

.orange > span {
    background-color: #f1a165;
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
}

.red > span {
    background-color: #f0a3a3;
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span, .nostripes > span:after {
    -webkit-animation: none;
    background-image: none;
}

/* Lists
------------------------------------------------------------- */
ol#list {
    list-style-type: decimal;
    padding: 20px 0;
    padding-left: 20px;   
}
#list li {
    width: 100%;
    position: relative;
    font-size: 110%;
    margin-bottom: 1.4em;
}
#list .item {
    display: block;
    width: 40%;    
}
#list .status {
    margin-left: 40%;
    position: relative;
    top: -40px;
    left: 1px;
}

#list .delete {
    margin-left: 10%;
    position: relative;
    top: -40px;
    left: 1px;
}

#list span.comments {
    color: #555;
    font-style: italic;
}

#list .done {
    text-decoration: line-through;
}

#list input, #list textarea {
    width: 600px;
}

.add_item img {
    margin-right: 10px;
}

/* Editable
-------------------------------------------------------------- */
h2.list_title {
    text-shadow: 0px 1px 1px #CCC;
    margin: 0;
    font-size: 121px;    
}

.list_title {
    width: 80%;
}

.list_title:hover {
    cursor: pointer;
}

.title:hover, .comments:hover {
    background-color: #FFFFc9;
    cursor: pointer;
}

.list_title form.editable input {
    padding: 0;
    margin: 0;
    font-size: 50px;
    width: 300px;
    height: 100px;
    cursor: auto;
}

/* Home
----------------------------------------------------------------*/
#content h1,
#home h1 {
    font-size: 400px;    
    text-align: center;
}

#home .subtitle {
    text-align: center;    
}

#home .screenshot {
    float: left;
}

#home .screenshot img {
    border: 1px solid #CCC;
}

#home .blurb {
    float: right;
}

#home .blurb ul {
    list-style-image: url(../images/uncomplete.png);
}

#home .blurb li {
    font-size: 24px;
    padding: 0 0 40px 10px;    
}

#home .blurb li:last-child {
    padding: 0 0 0px 10px;
}

#home #signup {
    margin-top: 80px;
}

/* Buttons
-----------------------------------------------------------------*/
a.button {
    color: #444;
    text-decoration: none;
}

.button {
    background:url(../images/overlay.png) repeat-x center #ffcc00;
    background-color:rgba(255,204,0,1);
    border:1px solid #ffcc00;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;  
    color: #444;
}

.button {
    font-size: 13px;
    font-weight: bold;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.button:hover {
    background-color:rgba(255,204,0,0.8);
}

.button:active{position:relative;top:2px;}

/* Sizes ---------- */
.small.button {
font-size: 11px;
}
.medium.button {
font-size: 13px;
}
.large.button {
font-size: 54px;
padding: 16px 28px 18px;
}

/* Forms
----------------------------------------------------*/
div.form {    
    overflow: hidden;    
    font-size: 1.8em;    
}

div.form .formleft {
    text-align: left;
    padding: 0;
    clear: both;
    margin: 5px 0;   
}

div.form .formright {
    text-align: left;
    padding: 0;
    margin: 5px 0;    
}

div.form input,
div.form textarea {
    border: 1pz solid #444;
    padding: 15px;
    width: 400px;
    font-size: 1.2em
}

div.form input.button {
    width: 435px;
}

div.form input.formerror,
div.form textarea.formerror {
    border: 1px solid red;
}

div.form.registration {
    float: left;
    border-right: 1px solid #444;
    padding-right: 14%;
}

div.form.login {
    float: right;  
    padding-left: 10%;
}

div.form.search {
    clear: left;
}   

/* Tab menu
---------------------------------------------------------------------*/
#tabMenu {
    margin:0;
    padding:0 0 0 0;
    list-style:none;
}
 
#tabMenu li {
    float:left;
/*    height:32px;
    width:39px;*/
    cursor:pointer;
    cursor:hand;
    margin: 0 15px 0 0;
}

/* Dashboard
------------------------------------------------------------------------*/
div.lists-box {
    margin: 20px 0;
}

p.add_list {
    margin-top: 20px;
}